In [7]:
import pandas as pd

In [8]:
movies_df = pd.read_csv("data/movies.dat", sep='::', names=["num", "title", "genres"])
movies_df['year'] = movies_df['title'].str[-5:-1]
movies_df['title'] = movies_df['title'].str[:-7]
movies_df['genres'] = movies_df['genres'].str.split('|')
movies_metadata_df['title']=movies_metadata_df['title'].apply(lambda x: x.split(',')[1].lstrip(' ') + " "+ x.split(',')[0] if ', The' in x else x)
movies_df.drop('num', axis=1, inplace=True)

<ipython-input-8-f95d6b145836>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies_df = pd.read_csv("data/movies.dat", sep='::', names=["num", "title", "genres"])

In [9]:
users_df = pd.read_csv("data/users.dat", sep='::', names=["num", "gender", "age", 'number', 'id'])
users_df['gender'] = users_df['gender'].map({'F': 1, 'M': 0})
users_df.drop(['num', 'id'], axis=1, inplace=True)

<ipython-input-9-ad9c645ddf1f>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users_df = pd.read_csv("data/users.dat", sep='::', names=["num", "gender", "age", 'number', 'id'])

In [11]:
#merging movie_metadata with movies_df 
movie_metadata = pd.read_csv('data/movies_metadata.csv')
movies_metadata_df = movies_df.merge(movie_metadata, left_on='title', right_on='title', how='left')
movies_metadata_df['title']=movies_metadata_df['title'].apply(lambda x: x.split(',')[1].lstrip(' ') + " "+ x.split(',')[0] if ', The' in x else x)

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

                            title                            genres  year
0                       Toy Story   [Animation, Children's, Comedy]  1995
1                         Jumanji  [Adventure, Children's, Fantasy]  1995
2                Grumpier Old Men                 [Comedy, Romance]  1995
3               Waiting to Exhale                   [Comedy, Drama]  1995
4     Father of the Bride Part II                          [Comedy]  1995
...                           ...                               ...   ...
3878             Meet the Parents                          [Comedy]  2000
3879          Requiem for a Dream                           [Drama]  2000
3880                    Tigerland                           [Drama]  2000
3881             Two Family House                           [Drama]  2000
3882               Contender, The                 [Drama, Thriller]  2000

[3883 rows x 3 columns]

      gender  age  number
0          1    1      10
1          0   56      16
2          0   25      15
3          0   45       7
4          0   25      20
...      ...  ...     ...
6035       1   25      15
6036       1   45       1
6037       1   56       1
6038       1   45       0
6039       0   25       6

[6040 rows x 3 columns]

In [15]:
movies_metadata_df

,title,genres_x,year,adult,belongs_to_collection,budget,genres_y,homepage,id,imdb_id,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
0,Toy Story,"[Animation, Children's, Comedy]",1995,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,7.7,5415.0
1,Jumanji,"[Adventure, Children's, Fantasy]",1995,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,False,6.9,2413.0
2,Grumpier Old Men,"[Comedy, Romance]",1995,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,False,6.5,92.0
3,Waiting to Exhale,"[Comedy, Drama]",1995,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,False,6.1,34.0
4,Father of the Bride Part II,[Comedy],1995,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4462,Meet the Parents,[Comedy],2000,False,"{'id': 51509, 'name': 'Meet the Parents Collec...",55000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,1597,tt0212338,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2000-10-06,330444045.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,First comes love. Then comes the interrogation.,False,6.6,1743.0
4463,Requiem for a Dream,[Drama],2000,False,NaN,4500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.requiemforadream.com/,641,tt0180093,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2000-10-27,7390108.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,7.9,2525.0
4464,Tigerland,[Drama],2000,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,10687,tt0170691,...,"[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2000-09-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The system wanted them to become soldiers. One...,False,6.7,155.0
4465,Two Family House,[Drama],2000,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.twofamilyhouse.com/,63956,tt0202641,...,[],2000-01-21,0.0,104.0,[],Released,The only way to find out what you love is to r...,False,7.0,5.0
4466,The Contender,"[Drama, Thriller]",2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN