In [2]:
import pandas as pd
pd.set_option('display.max_columns',None)

In [3]:
movies_df = pd.read_csv("data/movies.dat", sep='::', names=["request_movie_id", "title", "genres"])
movies_df['year'] = movies_df['title'].str[-5:-1]
movies_df['title'] = movies_df['title'].str[:-7]
movies_df['genres'] = movies_df['genres'].str.split('|')
movies_df['title']=movies_df['title'].apply(lambda x: x.split(',')[1].lstrip(' ') + " "+ x.split(',')[0] if ', The' in x else x)
#movies_df.drop('num', axis=1, inplace=True)

<ipython-input-3-18ebad4d7271>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies_df = pd.read_csv("data/movies.dat", sep='::', names=["request_movie_id", "title", "genres"])

In [4]:
users_df = pd.read_csv("data/users.dat", sep='::', names=["request_id", "gender", "age", 'number', 'id'])
users_df['gender'] = users_df['gender'].map({'F': 1, 'M': 0})

<ipython-input-4-8e6cd3d9ed6b>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users_df = pd.read_csv("data/users.dat", sep='::', names=["request_id", "gender", "age", 'number', 'id'])

In [5]:
#merging movie_metadata with movies_df 
movie_metadata = pd.read_csv('data/movies_metadata.csv')
movies_metadata_df = movies_df.merge(movie_metadata, left_on='title', right_on='title', how='left')
movies_metadata_df

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,request_movie_id,title,genres_x,year,adult,belongs_to_collection,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
0,1,Toy Story,"[Animation, Children's, Comedy]",1995,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,7.7,5415.0
1,2,Jumanji,"[Adventure, Children's, Fantasy]",1995,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,False,6.9,2413.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,False,6.5,92.0
3,4,Waiting to Exhale,"[Comedy, Drama]",1995,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,False,6.1,34.0
4,5,Father of the Bride Part II,[Comedy],1995,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4663,3948,Meet the Parents,[Comedy],2000,False,"{'id': 51509, 'name': 'Meet the Parents Collec...",55000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,1597,tt0212338,en,Meet the Parents,"Greg Focker is ready to marry his girlfriend, ...",14.178281,/wVjtQtzv9IcNRGnOOdcK797Sdxx.jpg,"[{'name': 'DreamWorks SKG', 'id': 27}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-10-06,330444045.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,First comes love. Then comes the interrogation.,False,6.6,1743.0
4664,3949,Requiem for a Dream,[Drama],2000,False,NaN,4500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.requiemforadream.com/,641,tt0180093,en,Requiem for a Dream,The hopes and dreams of four ambitious people ...,6.874828,/muym4jTjdLx7E6as09d1wlC3sOB.jpg,"[{'name': 'Artisan Entertainment', 'id': 2188}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-10-27,7390108.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,7.9,2525.0
4665,3950,Tigerland,[Drama],2000,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,10687,tt0170691,en,Tigerland,A group of recruits go through Advanced Infant...,5.878885,/yyW54WcjMFX4NTRy1NnKIeaWhLS.jpg,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2000-09-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The system wanted them to become soldiers. One...,False,6.7,155.0
4666,3951,Two Family House,[Drama],2000,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.twofamilyhouse.com/,63956,tt0202641,en,Two Family House,Buddy Visalo (Michael Rispoli) is a factory wo...,0.265689,/bTtPrdB25Tidhl7Z04Xi3qLj2co.jpg,[],[],2000-01-21,0.0,104.0,[],Released,The only way to find out what you love is to r...,False,7.0,5.0
4667,3952,The Contender,"[Drama, Thriller]",2000,False,NaN,9000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,6521,tt0208874,en,The Contender,Political thriller about Laine Hanson's nomina...,15.072042,/rhghnHHS9Rto7vSF4KYSQVJLxZM.jpg,"[{'name': 'Battleplan Productions', 'id': 2108...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2000-10-13,0.0,126.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Sometimes you can assassinate a leader without...,False,6.7,61.0

In [8]:
users_df

      request_id  gender  age  number     id
0              1       1    1      10  48067
1              2       0   56      16  70072
2              3       0   25      15  55117
3              4       0   45       7  02460
4              5       0   25      20  55455
...          ...     ...  ...     ...    ...
6035        6036       1   25      15  32603
6036        6037       1   45       1  76006
6037        6038       1   56       1  14706
6038        6039       1   45       0  01060
6039        6040       0   25       6  11106

[6040 rows x 5 columns]

In [9]:
training_df = pd.read_csv('data/training.csv')
training_df

        user  movie  rating  timestamp
0       6040    858       4  956703932
1       6040    593       5  956703954
2       6040   2384       4  956703954
3       6040   1961       4  956703977
4       6040   2019       5  956703977
...      ...    ...     ...        ...
799995  1875   2940       5  975767255
799996  1875    589       4  975767289
799997  1875    110       4  975767289
799998  1875   2791       3  975767289
799999  1875   2948       5  975767289

[800000 rows x 4 columns]

In [10]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [11]:
RF_df = training_df.copy()
RF_df = RF_df.merge(users_df, how='left', left_on='user', right_on='request_id')
RF_df = RF_df.merge(movies_metadata_df, how='left', left_on='movie', right_on='request_movie_id')
mlb.fit(RF_df['genres_x'])
RF_df[mlb.classes_] = mlb.transform(RF_df['genres_x'])
RF_df

,user,movie,rating,timestamp,request_id,gender,age,number,id_x,request_movie_id,title,genres_x,year,adult,belongs_to_collection,budget,genres_y,homepage,id_y,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,6040,858,4,956703932,6040,0,25,6,11106,858,The Godfather,"[Action, Crime, Drama]",1972,False,"{'id': 230, 'name': 'The Godfather Collection'...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,238,tt0068646,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",41.109264,/rPdtLWNsZmAtoZl9PK7S2wE3qiS.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1972-03-14,245066411.0,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An offer you can't refuse.,False,8.5,6024.0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
1,6040,593,5,956703954,6040,0,25,6,11106,593,The Silence of the Lambs,"[Drama, Thriller]",1991,False,"{'id': 9743, 'name': 'The Hannibal Lecter Anth...",19000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,274,tt0102926,en,The Silence of the Lambs,"FBI trainee, Clarice Starling ventures into a ...",4.307222,/qjAyTj2BSth1EQ89vNfo0JYVPFN.jpg,"[{'name': 'Orion Pictures', 'id': 41}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1991-02-01,272742922.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,To enter the mind of a killer she must challen...,False,8.1,4549.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
2,6040,2384,4,956703954,6040,0,25,6,11106,2384,Babe: Pig in the City,"[Children's, Comedy]",1998,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",90000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,9447,tt0120595,en,Babe: Pig in the City,"Babe, fresh from his victory in the sheepherdi...",6.229629,/yjZ3d2mKC94Lz0XGJYGRbAOrA4Q.jpg,"[{'name': 'Kennedy Miller Productions', 'id': ...","[{'iso_3166_1': 'AU', 'name': 'Australia'}]",1998-11-25,69131860.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This little pig went to the city...,False,5.3,312.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,6040,1961,4,956703977,6040,0,25,6,11106,1961,Rain Man,[Drama],1988,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}]",NaN,380,tt0095953,en,Rain Man,Selfish yuppie Charlie Babbitt's father left a...,11.267467,/A9XB6BmDlxqag4EFG4aM8R08B5t.jpg,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1988-12-11,412800000.0,133.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,A journey through understanding and fellowship.,False,7.6,1762.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,6040,2019,5,956703977,6040,0,25,6,11106,2019,Seven Samurai (The Magnificent Seven) (Shichin...,"[Action, Drama]",1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963981,1875,2940,5,975767255,1875,0,35,12,94107,2940,Gilda,[Film-Noir],1946,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,3767,tt0038559,en,Gilda,"Just arrived in Argentina, small-time crooked ...",4.562074,/hz2gG5D3GHaaPZUSnRNjMC3Wl1r.jpg,"[{'name': 'Columbia Pictures', 'id': 5}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1946-02-14,0.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,There NEVER was a woman like Gilda!,False,7.6,113.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
963982,1875,589,4,975767289,1875,0,35,12,94107,589,Terminator 2: Judgment Day,"[Action, Sci-Fi, Thriller]",1991,False,"{'id': 528, 'name': 'The Terminator Collection...",100000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,280,tt0103064,en,Terminator 2: Judgment Day,Nearly 10 years have passed since Sarah Connor...,22.661695,/2y4dmgWYRMYXdD1UyJVcn2HSd1D.jpg,"[{'name': 'Lightstorm Entertainment', 'id': 57...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1991-07-01,520000000.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,It's nothing personal.,False,7.7,4274.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
963983,1875,110,4,975767289,1875,0,35,12,94107,110,Braveheart,"[Action, Drama, War]",1995,False,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,197,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,/2qAgGeYdLjelOEqjW9FYvPHpplC.jpg,"[{'name': 'Icon Entertainment International', ...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-05-24,210000000.0,177.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every man dies. Not every man truly lives.,False,7.7,3404.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
963984,1875,2791,3,975767289,1875,0,35,12,94107,2791,Airplane!,[Comedy],1980,False,"{'id': 91663, 'name': 'Airplane Collection', '...",3500000,"[{'id': 35, 'name': 'Comedy'}]",NaN,813,tt0080339,en,Airplane!,"Alcoholic pilot, Ted Striker has developed a f...",13.063203,/b4sAWNIbfXw4WTdc1wiVRBk2Vko.jpg,"[{'name': 'Paramount Pictures', 'id': 4}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1980-07-02,83453539.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"What's slower than a speeding bullet, and able...",False,7.1,1104.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
963985,1875,2948,5,975767289,1875,0,35,12,94107,2948,From Russia with Love,[Action],1963,False,"{'id': 645, 'name': 'James Bond Collection', '...",2000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.mgm.com/view/movie/717/From-Russia-...,657,tt0057076,en,From Russia with Love,Agent 007 is back in the second installment of...,12.536729,/fvIG285JwenrV1K6kVASi1TECJ0.jpg,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1963-10-11,78898765.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The world's masters of murder pull out all the...,False,6.9,773.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [12]:

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
X = RF_df.copy()
X.drop(['user', 'movie', 'timestamp', 'request_id', 'id_x', 'request_movie_id', 'title', 'genres_x', 'adult', 'belongs_to_collection', 
         'genres_y', 'homepage', 'id_y', 'imdb_id', 'original_language', 'original_title', 'overview', 'poster_path', 
         'production_companies', 'production_countries', 'release_date', 'spoken_languages', 'status', 'tagline', 'video'], axis=1, inplace=True)
X.fillna(X.median(), inplace=True)
y = X.pop('rating')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)
X

,gender,age,number,year,budget,popularity,revenue,runtime,vote_average,vote_count,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,25,6,1972,6000000,41.109264,245066411.0,175.0,8.5,6024.0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
1,0,25,6,1991,19000000,4.307222,272742922.0,119.0,8.1,4549.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
2,0,25,6,1998,90000000,6.229629,69131860.0,92.0,5.3,312.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,25,6,1988,25000000,11.267467,412800000.0,133.0,7.6,1762.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,25,6,1954,8000000.0,9.37934,31559552.0,109.0,6.8,313.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963981,0,35,12,1946,0,4.562074,0.0,110.0,7.6,113.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
963982,0,35,12,1991,100000000,22.661695,520000000.0,137.0,7.7,4274.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
963983,0,35,12,1995,72000000,20.755149,210000000.0,177.0,7.7,3404.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
963984,0,35,12,1980,3500000,13.063203,83453539.0,88.0,7.1,1104.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
963985,0,35,12,1963,2000000,12.536729,78898765.0,115.0,6.9,773.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
RF_model = RandomForestRegressor(n_estimators=500, n_jobs=-1)
RF_model.fit(X_train, y_train)

In [14]:
y_pred = RF_model.predict(X_test)
rmse = (mean_squared_error(y_test, y_pred)**0.5)
rmse

1.0630670657980947

In [53]:
request_df = pd.read_csv('data/requests.csv')

In [70]:
request_df

        user  movie
0       4958   1924
1       4958   3264
2       4958   2634
3       4958   1407
4       4958   2399
...      ...    ...
200204  1875   3793
200205  1875   2160
200206  1875   1035
200207  1875   1580
200208  1875    589

[200209 rows x 2 columns]